.main {
    display: flex;
    justify-content: space-around;
    gap: 250px;

    &-button {
        max-width: 150px;
    }
}

.container {
  position: relative;
  bottom: 30px;
    width: 100px;
    perspective: 1000px;
    transform: rotateX(-10deg);
    transform-style: preserve-3d;
  }
  
  .carousel {
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: rotateY(var(--rotation));
    -webkit-transform: rotateY(var(--rotation));
    -moz-transform: rotateY(var(--rotation));
    -o-transform: rotateY(var(--rotation));
  }
  

  .itembackside {
    display: block;
    position: absolute;
    width: 120px;
    height: 60px;
    border-radius: 25px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    transform: rotateY(var(--rotation2)) translateZ(calc(var(--gapCenter) - 1px));
    transition: all 0.5s;
    background: #c8b6ff;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(255,214,255,0.37);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .item {
    display: block;
    position: absolute;
    width: 120px;
    height: 60px;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    transform: rotateY(var(--rotation2)) translateZ(var(--gapCenter));
    transition: all 0.5s;
    backface-visibility: hidden;
  }