.cardCarrousel {
    padding: 20px;
    width: 256px;
    height: 256px;
    box-sizing: content-box;
}

.main {
    background: #fff;
    min-height: 100px;
    min-width: 100px;
    padding: 20px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;

h2 {
        padding: 0;
        margin: 0;
        font-size: 16px;
    }
}