* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color-scheme: dark;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

h2 {
  text-align: $text-align;
  margin: 20px 0;
}

a {
  color: inherit;
  text-decoration: none;
}
