.main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carrousel3D {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.top {
  height: calc(100vh - 220px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > div:nth-of-type(1) {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    > div:nth-of-type(1) {
      position: absolute;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      
      > div:nth-of-type(1) {
        position: absolute;
        top: 0;
        right: -30vw;
        z-index: -1;
      }
      > div:nth-of-type(2) {
        position: absolute;
        top: 20vh;
        right: -15vw;
        z-index: -1;
      }
      > div:nth-of-type(3) {
        position: absolute;
        top: -5vh;
        right: 45vw;
        z-index: -1;
      }
      > div:nth-of-type(4) {
        position: absolute;
        top: 35vh;
        right: 40vw;
        z-index: -1;
      }
      > div:nth-of-type(5) {
        position: absolute;
        top: 2vh;
        right: 30vw;
        z-index: -1;
      }
      > div:nth-of-type(6) {
        position: absolute;
        top: 33vh;
        right: 22vw;
        z-index: -1;
      }
      > div:nth-of-type(7) {
        position: absolute;
        top: 35vh;
        right: -27vw;
        z-index: -1;
      }
    }
  }

  > div:nth-of-type(2) {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}